@model SRI.Models.ViewModels.IncidenteVM

@{
    ViewBag.Title = "Eliminar incidente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Estas seguro de que quieres eliminar el incidente?</h3>
<div>
    <h4>Incidente</h4>
    <hr />

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
