
<div>

    <h4> Palabras Clave</h4>

    <input type="text" id="palabraClaveinput" />

    <button class="btn btn-outline-secondary" onclick="agregarPalabraClave()" type="button">Agregar</button>

    <br />
    <br />

    <div id="palabraClaveList" class="list-group">
    </div>

</div>

    