@model SRI.Models.ViewModels.FiltradoVM

@{ 
    ViewBag.Title = "Reportes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





    <div class="form-horizontal">
        <h3>Filtrado de incidente por mes, y por tipo</h3>
        <br />



        <div class="form-group">
            @Html.LabelFor(model => model.mes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="month" id="mes" name="mes">
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tipoIncidente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.tipoIncidente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tipoIncidente, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input onclick="cargarFiltrado()" value="Cargar" class="btn btn-default" />
        </div>
    </div>

    <br />
    <br />
    <br />

    <div id="IncidentesPartial">


    </div>

    <button type="button" class="btn btn-danger  print" value="IncidentesPartial">Imprimir</button>

@section Scripts{
<script>

    function cargarFiltrado() {

        var mes = $("#mes").val()
        var tipoIncidente = $('select[id=tipoIncidente] option').filter(':selected').val();


        dat = {
            mes : mes,
            tipoIncidente: tipoIncidente
        }

        $.ajax({
            type: "POST",
            url: "/Filtrado/GetFiltradoPorMesTipoIncidente",
            data: dat,
            success: function (data) {
                $('#IncidentesPartial').html(data);
            }

        });

    }

</script>


}
